<a href="https://colab.research.google.com/github/gabrielfernandezf/py/blob/master/PCA_Merval_Clean_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Raw data from drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
filename = '/content/drive/My Drive/PCA_Merval/raw_data/merval.xlsx' 
f = open(filename, "r")
df = pd.read_excel(filename)

In [ ]:
#Searching for the first row without nan
#df.first_valid_index()
df.iloc[4182]
df = df[4183:-1]

In [ ]:
df.head()

           Date    MERVAL     BMA  VALO  ...    YPFD    MIRG    AGRO         FX
4183 2017-11-03  27978.33  209.55  5.53  ...  433.45  473.15  20.250  17.708531
4184 2017-11-07  28120.22  212.40  5.55  ...  437.35  480.05  20.250  17.840952
4185 2017-11-08  28081.57  213.00  5.34  ...  434.75  483.90  19.800  17.436232
4186 2017-11-09  27951.54  212.55  5.48  ...  423.60  496.10  19.613  17.571797
4187 2017-11-10  27080.55  207.35  5.31  ...  404.40  488.45  19.350  17.606707

[5 rows x 28 columns]

In [ ]:
#Checking for nan values
df.isnull().values.any()

True

In [ ]:
#Sum of nan values per column
df.isnull().sum()

Date      0
MERVAL    0
BMA       0
VALO      0
BBAR      0
SUPV      0
BYMA      0
GGAL      0
COME      0
HARG      0
LOMA      0
CEPU      0
EDN       0
TRAN      0
PAMP      0
TGSU2     0
TGNO4     0
CVH       0
TECO2     0
IRSA      0
CTIO      0
CRES      0
ALUA      0
TXAR      0
YPFD      0
MIRG      0
AGRO      0
FX        9
dtype: int64

In [ ]:
#Filling nan with previous 3 values 
df = df.fillna(df.rolling(3, min_periods=1).mean().shift())
df.isnull().sum()

Date      0
MERVAL    0
BMA       0
VALO      0
BBAR      0
SUPV      0
BYMA      0
GGAL      0
COME      0
HARG      0
LOMA      0
CEPU      0
EDN       0
TRAN      0
PAMP      0
TGSU2     0
TGNO4     0
CVH       0
TECO2     0
IRSA      0
CTIO      0
CRES      0
ALUA      0
TXAR      0
YPFD      0
MIRG      0
AGRO      0
FX        0
dtype: int64

In [ ]:
filename_clean = '/content/drive/My Drive/PCA_Merval/raw_data/merval_clean_1.0.xlsx' 
df.to_excel(filename_clean)